<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form #loginForm  = "ngForm" (ngSubmit)="updateValues(loginForm .value)" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input (ngModel)="firstName" name="firstName" id="firstName" type="text" class="form-control" placeholder= "{{firstName}}" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input (ngModel)="lastName" name="lastName" id="lastName" type="text" class="form-control" placeholder="{{lastName}}" />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" [routerLink]="['/events']" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>
